# .env.example
# -----------------------------------------------
# Доброю практикою є створення файлу .env.example, де перелічуються всі змінні без реальних значень.
# Це допомагає іншим розробникам налаштувати своє середовище
# Значення потрапляють у видиму структуру проекту та імпортуються на GIT.
# -----------------------------------------------
PORT=9999
NODE_ENV=string
MONGO_URL=string


# // =================(SMTP / Brevo)============
# У прикладі використано Brevo - це надійний SMTP-провайдер із зручним дашбордом і тестовими тарифами. Облікові дані (host, порт, логін, пароль, відправник) беруться з їхнього інтерфейсу.
# ----------------------------------
# npm install nodemailer
# ----------------------------------
SMTP_HOST=string
SMTP_PORT=999
SMTP_USER=string
SMTP_PASSWORD=string
SMTP_FROM=string
# ----------------------------------
# або

# // =================(SMTP / mailgun)============
# npm install mailgun.js
# ----------------------------------
# MAILGUN_DOMAIN=string
# MAILGUN_API_KEY=string



# // =================(JWT)==============
# // Генеруємо токен (JWT) для лінка. Встановлюємо бібліотеку jsonwebtoken для роботи з JWT.
# // npm i jsonwebtoken
# //
# // Оновлюємо контролер — додаємо генерацію токена та надсилання листа:
# // src/controllers/authController.js
# ----------------------------------
JWT_SECRET=string


# =================(Cloudinary)==============
# для завантаження, зберігання та отримання безпечних URL-адрес для медіафайлів.
# ----------------------------------
CLOUDINARY_CLOUD_NAME=string
CLOUDINARY_API_KEY=number
CLOUDINARY_API_SECRET=string
