# .env.example
# -----------------------------------------------
# Доброю практикою є створення файлу .env.example, де перелічуються всі змінні без реальних значень.
# Це допомагає іншим розробникам налаштувати своє середовище
# Значення потрапляють у видиму структуру проекту та імпортуються на GIT.
# -----------------------------------------------
PORT=9999
NODE_ENV=string
MONGO_URL=string
